@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You can return the product within only 14 days </p>
<p>The product must be in its original condition in order to accept returns</p>
<p>You can get your money back after 5 days from the date of returning the product</p>
